* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    width: auto;
    height: auto;
  }


  .logo {
    width: 7%;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .menu { 
    margin: auto;
    height: 60px;
    width: 95%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .sezione-uno {
    margin: auto;
    height: 620px;
    width: auto;
    background-color: #b4d0e7;
   }


  .menu-left {
    width: 45%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    gap: 35px;
    margin-left: 20px;
    text-decoration: none;
    align-items: center;
  }
  
  .menu-right {
    width: 45%;
    height: 60px;
    gap: 35px;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .sfondomenu {
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
  }
  
  .sfondomenu:hover {
    background-color: #b4d0e7;
  }
  
  .blue-button {
    background-color: #0061ff;
    padding: 4px 9px 4px 9px;
    color: white;
   
   }
  .container-sezione-uno {
    width: 60%;
    height: 100%;
    margin: auto;
   
   }
   
  .container2-sezione-uno {
     height: 50%;
     width: 100%;
     display: flex;}
     
     
     
  h1 {
     height: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     font-size: 79px;}

  .testo1 {
     height: 100%;
     width: 31%;
     display: flex;
     flex-direction: column;
     gap: 25px;}

  .blue-button2 {
     width: 70%;
     background-color: #0061ff;
     padding: 6px 0px 6px 0px;
     color: white;
     display: flex;
     justify-content: center;}

  .foto1 {
     height: 120%;
     width: 69%;
     background-image: url(img/jumbo.png);
     background-repeat: no-repeat;
     background-position:left;
     background-size: 649px;
     position: relative;}




  .sezione-due {
     margin: auto;
     height: 1100px;
     width: auto;}
  
  .container-sezione-due {
     width: 60%;
     height: 100%;
     margin: auto;
     margin-top: 120px;}
     
  .titolo-sezione-due {
      font-size: 47px;}

      
  .container2-sezione-due {
      display: flex;
      justify-content: space-between;
      height: 920px;
      margin: auto;
      margin-top: 70px;
      gap: 40px;}
      
  .primo-blocco  { 
      width: calc((100% / 3) );
      border: 1px solid #d7d7da;}

  .block-title  { 
      width: 100%;
      height: 7%;
      border-bottom: 1px solid #d7d7da;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;}

  .block-container { 
      width: 75%;
      margin: auto;
      height: 90%;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;}

  .sectionblock1 { 
      width: 100%;
      height: 15%;
      display: flex;
      flex-direction: column;
      gap: 10px;}

  .block-subtitle { 
      font-size: 25px;}

  .sectionblock2  { 
      width: 106%;
      height: 25%;
      display:flex;
      flex-direction: column;
      gap: 25px;}



  .sectionblock3  { 
      width: 100%;
      height: 18%;
      display: flex;
      flex-direction: column;
      gap: 25px;}

  .blue-button3 {
      width: 90%;
      background-color: #0061ff;
      padding: 6px 0px 6px 0px;
      color: white;
      display: flex;
      justify-content: center;}
      
  .tratteggio {
      text-decoration: underline;
      color: #0061ff;}
      
  .trattinobasso {
      margin-top: 40px;
      width: 20%;}
      
  .secondo-blocco  { 
      width: calc((100% / 3) );
      border: 1px solid #d7d7da;}

  .terzo-blocco  { 
      width: calc((100% / 3));
      border: 1px solid #d7d7da;}



  .sectionblock4  { 
      width: 90%;
      height: 42%;
      display: flex;
      flex-direction: column;
      gap: 25px;}



  .secondo-blocco  { 
      width: calc((100% / 3) );
      border: 1px solid #d7d7da;}

  .blu     { 
      color: #0061ff;}

  .sezione-tre {
      margin: auto;
      height: 400px;
      width: auto;}


  .container-sezione-tre {
      width: 60%;
      height: 70%;
      margin: auto;
      margin-top: 10px;
      border: 1px solid #d7d7da;
      }

  .icona-sezione-tre  {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20%;
      border-bottom: 1px solid #d7d7da;
      gap: 5px;}

  .blocksezione3 {
      height: 80%;
      display: flex;
      width: 93%;
      margin: auto;}

  .box1sezione3 {
      width: 70%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 40px;
      margin-top: 20px;
   


   }

  .box2sezione3 {
      width: 30%;
      height: 100%;
      margin-top: 30px;
     
   }
  .sezione-quattro {
      margin: auto;
      height: 600px;
      width: auto;}


  .container-sezione-quattro {
      width: 60%;
      height: 90%;
      margin: auto;
      margin-top: 10px;
      display: flex;
      }


  .box1sezione4 {
      width: 60%;
      height: 100%;
      display: flex;
      background-image: url(img/partner.png);
      background-size: 630px;
      background-repeat: no-repeat;}
       
  .box2sezione4 {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      gap: 40px;}

  .miniboxsezione4 {
      position: relative;
      margin-left: -30px;
      margin: auto;
      width: 80%;
      height: 50%;
      display: flex;
      flex-direction: column;
      font-size: 26px;
      gap: 30px;}

  .paragrafo4 {
      font-size: 20px;
        }  
  .white-button4 {
      width: 50%;
      
      border: 1px solid black;
      padding: 5px 0px 5px 0px;
      display: flex;
      justify-content: center;}




  .sezione-cinque {
      margin: auto;
      height: 1350px;
      width: auto;}
  
  
  .container-sezione-cinque {
      width: 60%;
      height:90%;
      margin: auto;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      gap: 60px;
    }


  .title5 {
      width: 100%;
      height: 4%;
      text-align: center;
      font-size: 35px;
      display: flex;
      justify-content: center;
      }


  .box1sezione5 {
      width: 100%;
      height: 48%;
      gap: 50px;
      
    display: flex;}

  .box2sezione5 {
      width: 100%;
      height: 48%;
      display: flex;
      gap: 50px;}

  .minibox1sezione5 {
      width: calc(100% / 3);
      height: 100%;
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }

  .mini-sfondo1 {
    width: 100%;
    height: 50%;
    background-image: url(img/business-feature-switching-tools.png);
    background-position: center;
    background-size: 331px;
    

  }
  .mini-mini2 {
    width: 100%;
    height: 50%;
    font-size: 20px;
    display: flex;
      flex-direction: column;
      justify-content: space-between;
  }



  .minibox2sezione5 {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

    }
    
    
    
  .mini-sfondo2 {
      width: 100%;
      height: 50%;
      background-image: url(img/business-feature-send-files-it.png);
      background-position: center;
      background-size: 361px;}
      
      
  .mini-sfondo3 {
      width: 100%;
      height: 50%;
      background-image: url(img/business-feature-coordinate-it.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 292px;}
        
  .minibox3sezione5 {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;}

  .mini-sfondo4 {
      width: 100%;
      height: 50%;
      background-image: url(img/business-feature-integrations-it.png);
      background-position: center;
      background-size: 361px;}

  .minibox4sezione5 {
      width: calc(100% / 3);
      height: 100%;
      flex-direction: column;
      justify-content: space-between;}


  .mini-sfondo5 {
      width: 100%;
      height: 50%;
      background-image: url(img/business-feature-multi-device.png);
      background-position: center;
      background-size: 332px;}

  .minibox5sezione5 {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;}

  .mini-sfondo6 {
      width: 100%;
      height: 50%;
      background-image: url(img/business-feature-security.png);
      background-position: center;
      background-size: 361px;}

  .minibox6sezione5 {
      width: calc(100% / 3);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;}
  


  .sezione-sei {
      margin: auto;
      height: 300px;
      width: auto;}


  .container-sezione-sei {
      width: 40%;
      height:90%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 60px;
      position: relative;
      left: -193px;}

   .title6 {
      width: 100%;
      height: 38%;  
      font-size: 45px;
      display: flex;}
    
  .sezione-sette {
      margin: auto;
      height: 900px;
      width: auto;}


  .container-sezione-sette {
      width: 100%;
      height:calc((100% / 3) * 2);
      margin: auto;
      display: flex;
      
      }



  .primo-quadrato{
      display: flex;
      width: calc(100% / 3);
      height: 100%;}

  .secondo-quadrato {
     
      width: calc(100% / 3);
      height: 100%;
      background-color: #f5f5f5;}

  .container-secondo-quadrato {
      
      width: 84%;
      margin: auto;
      height: 100%;
      }

  .design-logo {
      
      width: 90%;
      background-image: url(img/designit2.svg);
      background-repeat: no-repeat;
      background-size: 266px;
      
      height: 30%;
      margin-top: -40px;}


  .paragrafologo {
      width: 90%;
      height: 40%;}
      
  .trattinobasso2 {
      margin-top: 40px;
      width: 20%;
      margin-bottom: 50px;}

  .firma {
      margin-top: 40px;}


  .terzo-quadrato {
      display: flex;
      width: calc(100% / 3);
      height: 100%;
      background-color: yellow;}

  .quadrato-superiore {
      width: 100%;
      height:100%;;
      display: flex;
      flex-direction: column;}
   
 
  .borderquadratosponsor1{
      display: flex;
      width:100%;
      height:50%;
      background-color:#d1e9cd;
      background-position: center;
      background-repeat: no-repeat;
      }
  .quadratosponsor1{
      display: flex;
      width:93%;
      height:93%;
      background-color:#a2d39b;
      background-image: url(img/designit.svg);
      background-position: center;
      background-repeat: no-repeat;
    margin: auto;}
  .quadratosponsor2{
      display: flex;
      width:100%;
      height:50%;
      background-color:#0093ce;
      background-image: url(img/university_of_florida.svg);
      background-position: center;
      background-repeat: no-repeat;}

  .quadratosponsor3{
      display: flex;
      width: 100%;
      height: 50%;
      background-color:#61082b;
      background-image: url(img/arizona_state_university.svg);
      background-position: center;
      background-repeat: no-repeat;}


  .quadratosponsor4{
      display: flex;
      width: 100%;
      height: 50%;
      background-color:#ff1c1c;
      background-image: url(img/topps.svg);
      background-position: center;
      background-repeat: no-repeat;}

  .quadrato-inferiore {
      width: 100%;
      height: 100%;;
      display: flex;
      flex-direction: column;}

  .quadratosponsor5{
      display: flex;
      width:100%;
      height:50%;
      background-color:#d5001f;
      background-image: url(img/world_bicycle_relief.svg);
      background-position: center;
      background-repeat: no-repeat;
      margin: auto;}



  .quadratosponsor6{
      display: flex;
      width:100%;
      height:50%;
      background-color:#0d2481;
      background-image: url(img/lonely_planet.svg);
      background-position: center;
      background-repeat: no-repeat;
      margin: auto;}

  .quadratosponsor7{
      display: flex;
      width:100%;
      height:50%;
      background-color:#b4d0e7;
      background-image: url(img/hearst_corp.svg);
      background-position: center;
      background-repeat: no-repeat;
      margin: auto;}

  .quadratosponsor8{
      display: flex;
      width:100%;
      height:50%;
      background-color:#ffd830;
      background-image: url(img/clear_channel.svg);
      background-position: center;
      background-repeat: no-repeat;
      margin: auto;}


  .container2-sezione-sette {
      width: 100%;
      height:calc((100% / 3) * 1);
      margin: auto;
      display: flex;
      background-color: #b4d0e7;}
      
  .quadrato-sezione-sette {
      width: 52%;
      height:100%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;}
 
   .quadrato-piccolo-sezione-sette { 
      width: 40%;
      height: 100%;
      font-size: 30px;
      align-items: center;
      display: flex;}

   .white-button7 {
      width: 100%;
      padding: 6px 30px 6px 30px;
      display: flex;
      justify-content: center;
      background-color: white;}

   .sezione-otto {
      margin: auto;
      height: 600px;
      width: auto;}


  .container-sezione-otto {
      width: 52%;
      height:80%;
      margin: auto;
      display:flex;
      flex-direction: column;
      gap: 20px;  
      padding-top: 100px;}


 .title8 {
      font-size: 34px;
      width: 100%;
      height: 20%;}

 .question8  {
    height: 80%;
    width: 100%;
    
    }    

 .rettangolo1sezione8  {
    height: 30%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    }    
  .arrow {
    position: relative;
    justify-content: center;
    width: 25px;
    height: 25px;
    rotate: 90deg;
    padding: 10px 10px 10px 10px;
    } 
    
  .sezione-nove {
    margin: auto;
    height: 530px;
    width: auto;
    background-color: black;}


  .container-sezione-nove {
    width: 65%;
    height:97%;
    margin: auto;
    display:flex;
    padding-top: 65px;}


 .colonna1 {
    color: white;
    width: 20%;
    height:100%;
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;}
 .colonna2 {
    color: white;
    width: 20%;
    height:100%;
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;}

 .colonna3 {
    color: white;
    width: 20%;
    height:100%;
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;}

 .colonna4 {
    color: white;
    width: 20%;
    height:100%;
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;}

 .colonna5 {
    color: white;
    width: 20%;
    height:100%;
    display:flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;}

 .title9 {
    color: white;
    width: 100%;
    height: 20%;
    font-size: 23px;
    align-items: center;
    display: flex;}

 .white {
    color: white;}

 .trattinobasso3 {
    margin-top: 20px;
    width: 20%;
    margin-bottom: 50px;
    position: relative;
    top: 20px;
    }

 .arrow2 {
    position: relative;
    justify-content: center;
    width: 25px;
    height: 25px;
    rotate: 90deg;
    padding: 10px 10px 10px 10px;
    color: white;
    } 